* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: max(900px, 80%);
    margin-top: 80px;
}

img{
    display: block;
    width: 100%;
}

.header-main {
    width: max(900px, 80%);
    height: 230px;
    min-height: 230px;
}

.container-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.business-info {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-logo {
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-info {
    overflow: hidden;
}

.container-info p {
    margin-top: 5px;
    font-size: 1.1em;
    position: relative;
}

p strong::after {
    content: "";
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #000000;
    position: absolute;
    bottom: 0;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title p{
    margin: 0;
    font-size: 1.5em;
}

.container-title h2{
    margin: 0;
    font-size: 2.5em;
    text-decoration: underline;
    border-bottom: 3px double #000;
}

.container-complaint__info {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container-complaint__info h2, p {
    margin: 0;
}

.complaint-info {
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 10px;  
} 

.complaint-info h2 {
    font-size: 1.7em;
}

.complaint-info p {
    margin-top: 5px;
    font-size: 1.3em;
}

.table-date {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1.1em;
}

.table-date thead th {
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EEF8FB;
}

.table-date tbody tr td {
    border-bottom: 1px solid #000000;
}

.table-date tbody tr td:first-child {
    border: 1px solid #000000;
    border-top: none;
}

.table-date tbody tr td:last-child {
    border: 1px solid #000000;
    border-top: none;
}

.table-date tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-date tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.container-main {
    width: 100%;
}

.container-complaint__main {
    width: 100%;
}

.container-complaint__table {
    width: 100%;
}

.table-complaint {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    border-collapse: separate;
    border-spacing: 0;
}

.table-complaint th:first-child, td:first-child, th:last-child, td:last-child {
    width: 20%;
}

.table-complaint th:nth-child(2) ,td:nth-child(2) {
    width: 60%;
}

.table-complaint tr th {
    padding: 10px 0;
    background-color: #F3F3F3;
}

.table-complaint thead tr th:first-child {
    border-top-left-radius: 10px;
    border-left: none;
}

.table-complaint thead tr th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table-complaint tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-complaint tfoot tr td:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-complaint tr th {
    border: 1px solid #FFFFFF;
    border-top: none;
    border-bottom: 1px solid #000000;
}

.table-complaint tr td {
    padding: 10px 0;
    border: 1px solid #000000;
    border-top: none;
    border-right: none;
}

.table-complaint tr td:last-child {
    border-right: 1px solid #000000;
}

.table-complaint tfoot td:first-child {
    padding-right: 5%;
    text-align: end;
    border: none;
}

.table-complaint tfoot td:last-child {
    border-top: none;
}

.table-date td {
    width: 33.3%;
}

.container-complaint__details {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.container-complaint__details label {
    font-size: 1.2em;
    font-weight: bold;
}

.container-text {
    width: 100%;
}

.container-text textarea {
    width: 100%;
    height: 250px;
    margin: 20px 0 30px;
    font-size: 1.5em;
    font-family: inherit;
    resize: none;
    text-align: justify;
}